.app {
  @keyframes fadeIn2 {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .camera {
    @include full;
    pointer-events: none;
    &-canvas {
      @include middle;
      transform-origin: center;
    }
    &-buttons {
      @include middle;
      &-first, &-start {

        @include fade;
        margin: .5rem;
        animation: 1s 3s fadeIn2 forwards;
        opacity: 0;
        pointer-events: all;
      }

    }
    &-debug {
      @include middle;
    }
  }
}
