.app {
  .controls {
    @include full;
    @include center;
    @include fade;
    button {
      margin: .5rem;
    }
    &-main {
      @include middle;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      background: white;
      border-radius: .5rem;
      &-selector {
        &-label {
          text-align: center;
        }
      }
      &-stretch, &-delay {
        visibility: hidden !important;
      }
      &-stretch {
        left: 50%;
        width: 6rem;
        height: 4rem;
        padding: 0;
        margin: 1rem;
        background-image: url('assets/images/expand-icon.svg');
      }
      &-delay {
        display: inline-flex;
        font-weight: bold;
      }
    }
    &-tutorial, &-credits {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    &-tutorial {
      top: 0;
    }
    &-credits {
      bottom: 0;
    }
  }
  &.repeat {
    .controls-main {
      &-stretch, &-delay {
        visibility: visible !important;
      }
    }
  }
  &.first {
    .controls-main-delay {
      visibility: visible !important;
    }
  }
  &.expanded {
    .controls-main-stretch {
      background-image: url('assets/images/reset-icon.svg');
    }
  }
}
