.app {
  .credits {
    @include full;
    @include fade;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
    &-content {
      display: flex;
      width: calc(100% - 10rem);
      // height: calc(100% - 10rem);
      flex-direction: column;
      padding: 1rem;
      background: white;
      border-radius: .5rem;
      transform-origin: top left;
      transition: transform .25s;
      @include middle;
      &-title, &-text {
        margin: 1rem;
        line-height: 1.5rem;
      }
      &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        padding: 0;
        border-radius: 50%;
        transform: translate(50%, -50%);
      }
    }
    &.hidden {
      .credits-content {
        transform: scale(.1) translate(-50%, 500%);
      }
    }
  }
}
