.app {
  .display {
    @include full;
    @include fade;
    pointer-events: none;
    &.hidden {
      opacity: 0.1 !important;
    }
    &-canvas {
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: top left;
    }
    &-toggle {
      pointer-events: all;
      visibility: visible;
      @include middle;
      @include fade;
    }
  }
}
