.app {
  @keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }
  .markers {
    @include full;
    @include fade;
    &.hidden {
      opacity: .25 !important;
      transition-delay: 0s;
      visibility: visible;
    }
    &.hidden2 {
      opacity: 0 !important;
    }
    &-marker {
      position: absolute;
      width: 21.1vh;
      height: 21.1vh;
      border: 3.75vh solid white;
      margin: 0vh;
      pointer-events: all;
      svg {
        width: 100%;
        height: 100%;
      }
      &.top { top: 0; }
      &.bottom { bottom: 0; }
      &.left { left: 0; }
      &.right { right: 0; }
    }
  }
}
