.app {
  .tutorial {
    @include full;
    @include fade;

    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    &-video {
      @include middle;
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);
      background: black;
      transition: width .25s, height .25s, top .25s;
      &-player {
        width: 100%;
        height: 100%;
      }
      &-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 2rem;
        height: 2rem;
        padding: 0;
        border-radius: 50%;
        transform: translate(50%, -50%);
      }
    }
    &.hidden {
      .tutorial-video {
        top: 2rem;
        width: 10rem;
        height: 2rem;
      }
    }
  }
}
