@font-face {
  font-display: swap;
  font-family: 'Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/Code-Pro-Light-LC.woff2') format('woff2'), url('assets/fonts/Code-Pro-Light-LC.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Code Pro';
  font-style: normal;
  font-weight: normal;
  src: url('assets/fonts/Code-Pro-LC.woff2') format('woff2'), url('assets/fonts/Code-Pro-LC.woff') format('woff');
}

@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fade {
  transition: opacity .5s, visibility .5s;
}

// @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;700&display=swap');
html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Code Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  & > * {
    touch-action: manipulation;
  }
  a, a:visited {
    color: black; 
  }
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translate(-50%, -50%) scale(1.25);  }
  20% { opacity :1; }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, -50%) scale(.75); }
}
.app {
  @include full;
  .logo {
    @include middle;
    @include fade;
    width: 50vw;
    animation: 3s fadeInOut linear forwards;
    pointer-events: none;
  }
  .toggle-debug {
    position: absolute;
    top: 0;
    left: 0;
  }
  * {
    user-select: none;
  }
  button {
    padding: .5rem 1rem;
    border: 0;
    background: gray;
    border-radius: .25rem;
    color: white;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    transition: background .25s;
    &:active {
      background: lighten(gray, 10%);
    }
    &.secondary {
      border: 1px solid gray;
      background: none;
      color: gray;

    }
  }
  .hidden {
    opacity: 0;
    visibility: hidden;
  }
  .flex-break {
    flex-basis: 100%;
  }
  .slider {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 20rem;
    justify-content: center;
    padding: 0;
    background-color: darken(gray, 10%);
    border-radius: .5rem;
    &:after {
      position: absolute;
      top: .25rem;
      left: .25rem;
      width: calc(50% - .5rem);
      height: calc(100% - .5rem);
      background-color: rgba(255, 255, 255, 1);
      border-radius: .25rem;
      content:'';
      mix-blend-mode: difference;
      pointer-events: none;
      transition: left .25s;
    }

    // TODO: genericize this
    &[value="-"]:after {
      left: -50%;
    }
    &[value="First Screen"]:after {
      left: .25rem;
    }
    &[value="Cam Repeater"]:after {
      left: calc(50% + .25rem);
    }
    input {
      display: none;
    }
    & > label {
      &:first-of-type {
        display: none;
      }
      flex: 1 1 0;
      padding: .5rem 1rem;
      color: darken(white, 30%);
      cursor: pointer;
      font-family: 'Code Pro';
      font-family: Arial, sans-serif;
      font-weight: bold;
      text-align: center;
      transition: color .25s;
      user-select: none; // TODO: maybe a global class for these: buttons, inputs, etc
      white-space: nowrap;
    }
    input:checked + label {
      color: black;
    }
  }
}

@import './modules/camera.scss';
@import './modules/markers.scss';
@import './modules/detector.scss';
@import './modules/display.scss';
@import './modules/controls.scss';
@import './modules/tutorial.scss';
@import './modules/credits.scss';
